*{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
}

/* Nav related Style start */

.navbar-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background: rgba(229, 84, 115, 0.10);
}
span{
    color:#E55473 ;
}
.menu{
    display: flex;
    list-style: none;
    margin-right: 40px;
    gap: 40px;
    align-items: center;
} 
a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.shop-btn{
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 28px;
    border-radius: 10px;
    cursor: pointer;
}
.project-logo{
    font-weight: 700;
    font-size: 30px;
}
.shop-btn:hover{
    font-size: 23px ;
}

/* nav related style end  */

/* home section style start  */

.home-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 30px 0px 70px;
}
.home-img-area{
    bottom: 0;
    width: 635px;
    height: 800px;
}
.home-description{
    margin-top: 5px;
    margin-bottom: 20px;
}
.home-title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* home section style end  */

/* featured flowers section style start  */

section{
    margin-bottom: 80px;
}
.featured-title-description{
    text-align: center;
}